.container {
    margin-left: 200px;
}

#login {
  background-image: url("../img/login-image.jpg");
  height: 500px;
  width: 350px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}